@*@*@model string
@{
    ViewBag.Title = "Create";
    AjaxOptions ajaxOpt = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "tableBody",
        Url = Url.Action("UploadFile"),
        LoadingElementId = "loading",
        LoadingElementDuration = 1000
    };
}

@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>*@
<script>
    (function () {
        debugger
        var bar = $('.bar');
        var percent = $('.percent');
        var status = $('#status');
        $('#formprd').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            success: function () {
                var percentVal = '100%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            complete: function (xhr) {
                status.html(xhr.responseText);
            }
        });
    })();
</script>

<h2>Create</h2>



@using (Html.BeginForm("UploadFile", "CounterValues", FormMethod.Post, new { enctype = "multipart/form-data", id = "formprd" }))
{
    @Html.AntiForgeryToken()
    <input type="file" name="files"><br>
    @Html.DropDownList("ServiceId", (SelectList)ViewBag.ServiceId)
    <br />
    <input type="submit" value="Upload File to Server">


    @*<div id="loading" class="load" style="display:none">
            <p>Loading Data...</p>
        </div>
        <table>
            <tbody id="tableBody"></tbody>
        </table>*@


    <div class="progress">
        <div class="bar"></div>
        <div class="percent">33%</div>
    </div>
    <div id="status"></div>
}*@*@